@import "reset.css";

/*
Site Name: MCU Fansite
Author: David Kirby
Date: Nov. 9, 2022
Version: 1.0
*/

$border: 2px solid black;
$bg: linear-gradient(darkred, red, darkred);

@mixin list {

    ul {
    list-style-type: none;

        li {
            
            a {
                text-decoration: none;
            }
        }
    }
    
}

@mixin text {
    text-align: center;
    text-transform: capitalize;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Lalezar', cursive;
    font-family: 'Passion One', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 30px;
    display: flex;
    align-items: center;
    background-image: $bg;

    h1 {
        font-size: 20px;
        border-top: 2px solid silver;
        border-bottom: 2px solid silver;
        width: 350px;
        text-transform: capitalize;
        margin: 0 auto;
        color: silver;
        text-shadow: 2px 2px 2px black;

        .title {
            font-size: 70px;
        }
    }
}

nav {
    @include list;
    background-image: linear-gradient(gold, yellow, gold);

    ul {
        display: flex;

        li {

            border-right: 1px solid goldenrod;

            a {
                display: block;
                padding: 10px;
                text-transform: capitalize;
                color: black;
            }

            a:hover {
                background-color: red;
                color: yellow;
            }
        }
    }
}

.content {
    display: flex;
    flex: 1;
    background-image: url("images/shieldbg.jpg");
    background-size: contain;
}

main {
    width: 100%;
    background-color: rgba(gray, 50%);
    color: yellow;
    

    h2 {
        @include text;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 30px;
        text-shadow: 2px 2px 2px black;
    }

    p {
        margin-bottom: 20px;
    }
}

footer {
    @include text;
    padding: 20px;
    background-image: $bg;
    color: silver;
}