@import "reset.css";

/*
Site Name: MCU Fansite
Author: David Kirby
Date: Nov. 9, 2022
Version: 1.0
*/

$border: 2px solid black;
$bg: linear-gradient(darkred, red, darkred);

@mixin list {

    ul {
    list-style-type: none;

        li {
            
            a {
                text-decoration: none;
            }
        }
    }
    
}

@mixin text {
    text-align: center;
    text-transform: capitalize;
}

* {
    box-sizing: border-box;
}

img.attachment-thumbnail {
   margin-left: 50px;
   margin-top: 20px;
   margin-bottom: 50px;
   width: 200px;
   height: 200px;
}

figcaption {
    text-align: center;
    font-size: 15px;
}

html, body {
    height: 100%;
    font-family: 'Lalezar', cursive;
    font-family: 'Passion One', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 30px;
    display: flex;
    align-items: center;
    background-image: $bg;

    h1 {
        font-size: 50px;
        border-top: 5px solid silver;
        border-bottom: 5px solid silver;
        margin: 0 auto;
        color: silver;
        text-shadow: 2px 2px 2px black;

        .title {
            font-size: 90px;
            text-transform: capitalize;
        }
    }
}

nav {
    @include list;
    background-image: linear-gradient(goldenrod, yellow, goldenrod);

    ul {
        display: flex;

        li {

            border-right: 3px solid black;

            a {
                display: block;
                padding: 10px;
                text-transform: capitalize;
                color: black;
            }

            a:hover {
                color: red;
            }
        }

        li:hover {
            border-right: 3px solid red;
        }
    }
}

.content {
    display: flex;
    flex: 1;
    background-image: url("images/shieldbg.jpg");
    background-size: contain;
}

main {
    width: 100%;
    background-color: rgba(gray, 50%);
    color: yellow;
    padding: 20px;
    

    h2 {
        @include text;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 40px;
        text-shadow: 2px 2px 2px black;
    }

    p {
        margin-bottom: 20px;
    }
}

footer {
    @include text;
    padding: 20px;
    background-image: $bg;
    color: silver;
}

@media only screen and (max-width: 620px){
    nav, .content, aside, .main {
         width: 100%;
         height: auto;
         position: relative;
         margin: 0;
         
     }
 }